
* {
    font-family: "Outfit", serif;
    font-optical-sizing: auto;
    font-style: normal;
    box-sizing: border-box
  }

  h1 {
    font-size: 22px;
    font-weight: bold;
  }

 p {
    font-size: 15px;
    font-weight: regular;
  }

  .main-container {
    background-color: #D5E1EF;
    display: flex;
    justify-content: center;
    flex-direction: row;
    padding-top: 80px;
    padding-bottom: 80px

  }

  .main-section{
    background-color: white;
    border-radius: 15px;
    padding: 15px 0px 40px 0px;
    width: 320px;
    box-shadow: 3px 40px 30px #c5cfdd;
  }

  .image {
    display: flex;
    justify-content: center;
  }

img {
    width: 288px;
    height: 288px;
    border-radius: 20px;
}
.main-copy{
    padding: 0 30px;
}

h1 , p {
    text-align:center;
}